test_workflow.json
{
  "name": "Very quick quickstart",
  "nodes": [
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "id": "cbb6afcc-f900-434d-ad2e-affb31ccf7a9",
      "name": "Customer Datastore",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        920,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About the very quick quickstart workflow\n\nThis is an incomplete workflow, used in the [very quick quickstart](https://docs.n8n.io//try-it-out/quickstart/) tutorial.",
        "height": 220,
        "width": 300
      },
      "id": "1eb939c0-e391-4e3b-9751-889da2de7cf7",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Get fake sample data**",
        "height": 300,
        "width": 220
      },
      "id": "c53a8591-9efe-4fb8-993b-6cc309f3240e",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Extract data and prepare it for use in the next node**",
        "height": 300,
        "width": 220
      },
      "id": "c7e35ca4-b180-4280-9e43-a5dda5d3ea97",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "94bba884-5cef-4fe6-ba7d-cc7dbe49839c",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        680,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df041e3c-fc09-4ba2-8e6b-37f2c6a02526",
              "name": "customer_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "bf288953-4fef-4f55-a45f-c223714919c0",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "1cff0b21-6740-4697-9d2c-9bcb045af0be",
              "name": "customer_description",
              "type": "string",
              "value": "={{ $json.notes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6d22d64-c77f-415d-9c34-c7106ba4877a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        520
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "customerId": "={{ $json.customer_id }}",
        "message": "=Hi {{$json.customer_name}},  Your description is {{$json.customer_description}}"
      },
      "id": "0e05463b-c543-4e7b-8029-c47f11d01b8d",
      "name": "Customer Messenger (n8n training)",
      "type": "n8n-nodes-base.n8nTrainingCustomerMessenger",
      "typeVersion": 1,
      "position": [
        1440,
        540
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Customer Datastore": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Customer Datastore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Customer Messenger (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8da8985-e3bb-4101-9503-b24fc8d66a23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "templateId": "1700",
    "instanceId": "ee78a34595f237d6416d7ce0a9fb3f98fe2e82a4c2f1a53941a09774e6808a59"
  },
  "id": "FtDQETDc5Tdazev2",
  "tags": []
}